@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header {
  text-align: center;
  margin: 3rem 0;

  img {
    height: 5rem;
    width: 10rem;
    object-fit: cover;
  }

  h1 {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 5rem;
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    color: #8964b0;
    font-family: "Roboto Condensed", sans-serif;
  }
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;

  h2 {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0 0 1.5rem 0;
    color: #a18aba;
  }
}

#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    width: 10rem;
    text-align: center;
  }

  li img {
    height: 4rem;
    width: 6rem;
    object-fit: cover;
  }

  li h3 {
    margin: 0.5rem 0;
  }

  li p {
    font-size: 0.9rem;
  }
}



#examples {
  margin: 3rem auto;

  h2 {
    text-align: left;
  }

  menu {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 6px;
      background-color: transparent;
      color: #a18aba;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #1b082f;
        color: #ebe7ef;
      }

      &.active {
        background-color: #7925d3;
        color: #ebe7ef;
      }
    }
  }
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

  h3 {
    margin: 0;
  }

  p {
    font-size: 0.9rem;
  }

  pre {
    font-size: 0.9rem;
  }
}

